.nav{
  padding: 20px 25px;
}

.nav-buttons{
  display: flex;
  gap: 10px;
}

.header-bar{
  height: 8rem;
  width: 100vw;
  align-items: center;
  padding: 1rem 10rem;
  border-bottom: 2px solid var(--black);
}

.file-button{
  width: fit-content;
  padding: 10px 16px;
  background-color: var(--white);
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.file-button.blue{
  background-color: var(--blue);
  color: var(--white)
}

.tutorial-section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)
}

.tutorial-section-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 24px;
  height: fit-content;
  box-sizing: content-box;
  width: 320px;
  background-color: var(--white);
  padding: 3rem 1rem;
}

.card-buttons{
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:15px;
}