.nav{
  padding: 20px 25px;
}

.nav-buttons{
  display: flex;
  gap: 10px;
}

.header-bar{
  height: 8rem;
  width: 100vw;
  align-items: center;
  padding: 1rem 10rem;
  border-bottom: 2px solid var(--black);
}

.file-button{
  width: fit-content;
  padding: 10px 16px;
  background-color: var(--white);
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.file-button.blue{
  background-color: var(--blue);
  color: var(--white)
}